//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 23 15:26:31 2021
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

